<h1 class="recipes-list-heading">Meine Lieblingsrezepte</h1>

<div class="table-responsive">
  <table class="table table-striped table-hover">
    <thead>
    <tr>
      <th>
        Rezept
      </th>
      <th>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let favorite of allFavorites | async">
      <td>
        <a [routerLink]="['/recipe-detail', favorite.recipeId]">
          {{favorite.recipeName}}
        </a>
      </td>
      <td style="text-align: right">
        <button class="btn" (click)="remove(favorite); $event.stopPropagation()">
          <i class="fa fa-trash-o"></i> Löschen
        </button>
      </td>
    </tr>
  </table>
</div>

<app-alert #childAlert></app-alert>
