<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Manducare</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li [routerLinkActive]="['active']"><a [routerLink]="['/public']">Manducare</a></li>
        <li><a [routerLink]="['/admin']">Meine Rezepte</a></li>
        <li><a [routerLink]="['/register']">Registrieren</a></li>
        <li><a [routerLink]="['/about']">Über manducare</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Weitere ... <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a [routerLink]="['/contact']">Kontakt</a></li>
            <li role="separator" class="divider"></li>
            <li class="dropdown-header">Kategorie</li>
            <li><a [routerLink]="['/category-list/breakfast']">Frühstück</a></li>
            <li><a [routerLink]="['/category-list/starter']">Vorspeise</a></li>
            <li><a [routerLink]="['/category-list/mainCourse']">Hauptgericht</a></li>
            <li><a [routerLink]="['/category-list/snack']">Snack</a></li>
            <li><a [routerLink]="['/category-list/sideDish']">Beilage</a></li>
            <li><a [routerLink]="['/category-list/dessert']">Dessert</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
