<div>
  <h1>
    Welcome to {{title}}!!
  </h1>
</div>

<h1 *ngIf="authService.user | async">Welcome {{ (authService.user | async)?.email }}!</h1>

<div *ngIf="!(authService.user | async)">
    <div class="form-group">
      <label for="inputEmail">E-Mail</label>
      <input type="text" class="form-control" id="inputEmail" [(ngModel)]="email" placeholder="E-Mail">
    </div>
    <div class="form-group">
      <label for="inputPassword">Password</label>
      <input type="password" class="form-control" id="inputPassword" [(ngModel)]="password" placeholder="Password">
    </div>
    <button class="btn btn-default" (click)="login()" [disabled]="!email || !password">
      <i class="fa fa-envelope-o"></i> Login
    </button>
    <button class="btn btn-default" (click)="signup()" [disabled]="!email || !password">
      <i class="fa fa-key"></i> Signup
    </button>
</div>

<button class="btn btn-default" icon="fa-sign-out" (click)="logout()" *ngIf="authService.user | async">
  <i class="fa fa-user"></i>Logout
</button>

