<div class="navbar-wrapper">
  <div class="container">
    <app-nav></app-nav>
  </div>
</div>

<section class="recipe-details">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="recipe-image">
          <img class="featurette-image img-responsive center-block" src="{{ (recipe | async)?.image?.url }}" alt="{{(recipe | async)?.receipt}}">
          <!--<img class="featurette-image img-responsive center-block" onError="this.src='http://via.placeholder.com/1125x750'" src="{{ (recipe | async)?.image.url }}" alt="Generic placeholder image">-->
          <!--<img class="featurette-image img-responsive center-block" src="http://via.placeholder.com/1125x750" alt="Generic placeholder image">-->
        </div>
      </div>
      <div class="col-md-6">
        <h1 class="recipe-details-heading">{{(recipe | async)?.receipt}}</h1>
        <p class="recipe-details-description">{{(recipe | async)?.description}}</p>
        <div class="row">
          <div class="col-md-12">
            <div class="meta-container">
              <ul class="meta-list">
                <li>
                  <i class="icon flaticon-preptime"></i>Zubereitungszeit:
                  <span class="meta-value">{{(recipe | async)?.prepTime}} min.</span>
                </li>
                <li>
                  <i class="icon flaticon-level"></i>Schwierigkeitsgrad:
                  <span class="meta-value">{{(recipe | async)?.level}}</span>
                </li>
                <li>
                  <i class="icon flaticon-cuisine"></i>Länderküche:
                  <span class="meta-value">{{(recipe | async)?.cuisine}}</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="like-group">
              <ul class="like-list">
                <li>
                  <span class="icon flaticon-like">{{(recipe.rating | async)?.rating}}</span>
                </li>
                <li>
                  <a class="btn btn-default" href="#" role="button">Rezept speichern</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="preparation">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="preparation-heading">Zubereitung</h2>
      </div>
      <div class="col-md-6">
        <div class="preparation-ingredients">
          <h3 class="preparation-ingredients-heading">Zutaten für {{(recipe | async)?.portion}} Personen</h3>
          <div class="preparation-ingredients-item">
            <span class="preparation-ingredients-quantity">250</span>
            <span class="preparation-ingredients-unit">g</span>
            <span class="preparation-ingredients-ingredient">Schweinefleisch</span>
          </div>
          <div class="preparation-ingredients-item">
            <span class="preparation-ingredients-quantity">0.5</span>
            <span class="preparation-ingredients-unit">Stk.</span>
            <span class="preparation-ingredients-ingredient">Hähnchen</span>
          </div>
          <div class="preparation-ingredients-item">
            <span class="preparation-ingredients-quantity">2</span>
            <span class="preparation-ingredients-unit">Stk.</span>
            <span class="preparation-ingredients-ingredient">Zwiebeln</span>
          </div>
          <div class="preparation-ingredients-item">
            <span class="preparation-ingredients-quantity">125</span>
            <span class="preparation-ingredients-unit">ml</span>
            <span class="preparation-ingredients-ingredient">Öl</span>
          </div>
          <div class="preparation-ingredients-item">
            <span class="preparation-ingredients-quantity">125</span>
            <span class="preparation-ingredients-unit">g</span>
            <span class="preparation-ingredients-ingredient">Schinken</span>
          </div>
          <div class="preparation-ingredients-item">
            <span class="preparation-ingredients-quantity">2</span>
            <span class="preparation-ingredients-unit">Stk.</span>
            <span class="preparation-ingredients-ingredient">Safran</span>
          </div>
          <div class="preparation-ingredients-item">
            <span class="preparation-ingredients-quantity">1</span>
            <span class="preparation-ingredients-unit">l</span>
            <span class="preparation-ingredients-ingredient">Fleischbrühe</span>
          </div>
          <div class="preparation-ingredients-item">
            <span class="preparation-ingredients-quantity">350</span>
            <span class="preparation-ingredients-unit">g</span>
            <span class="preparation-ingredients-ingredient">Reis</span>
          </div>
          <div class="preparation-ingredients-item">
            <span class="preparation-ingredients-quantity">2</span>
            <span class="preparation-ingredients-unit">Stk.</span>
            <span class="preparation-ingredients-ingredient">Paprikaschoten</span>
          </div>
          <div class="preparation-ingredients-item">
            <span class="preparation-ingredients-quantity">4</span>
            <span class="preparation-ingredients-unit">Stk.</span>
            <span class="preparation-ingredients-ingredient">Tomaten</span>
          </div>
          <div class="preparation-ingredients-item">
            <span class="preparation-ingredients-quantity">100</span>
            <span class="preparation-ingredients-unit">g</span>
            <span class="preparation-ingredients-ingredient">Erbsen</span>
          </div>
          <div class="preparation-ingredients-item">
            <span class="preparation-ingredients-quantity">100</span>
            <span class="preparation-ingredients-unit">g</span>
            <span class="preparation-ingredients-ingredient">Brechbohnen</span>
          </div>
          <div class="preparation-ingredients-item">
            <span class="preparation-ingredients-quantity">1</span>
            <span class="preparation-ingredients-unit">Dose</span>
            <span class="preparation-ingredients-ingredient">Muschel</span>
          </div>
          <div class="preparation-ingredients-item">
            <span class="preparation-ingredients-quantity">125</span>
            <span class="preparation-ingredients-unit">g</span>
            <span class="preparation-ingredients-ingredient">Krabben (gekocht)</span>
          </div>
          <div class="preparation-ingredients-item">
            <span class="preparation-ingredients-quantity">65</span>
            <span class="preparation-ingredients-unit">g</span>
            <span class="preparation-ingredients-ingredient">Champignons</span>
          </div>
          <div class="preparation-ingredients-item">
            <span class="preparation-ingredients-quantity"></span>
            <span class="preparation-ingredients-unit">etwas</span>
            <span class="preparation-ingredients-ingredient">Cayennepfeffer</span>
          </div>
          <div class="preparation-ingredients-item">
            <span class="preparation-ingredients-quantity"></span>
            <span class="preparation-ingredients-unit">etwas</span>
            <span class="preparation-ingredients-ingredient">Salz</span>
          </div>
          <div class="preparation-ingredients-item">
            <span class="preparation-ingredients-quantity"></span>
            <span class="preparation-ingredients-unit">etwas</span>
            <span class="preparation-ingredients-ingredient">Pfeffer</span>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="preparation-steps">
          <div class="preparation-steps-step" *ngFor="let step of (recipe | async)?.steps; let i = index;">
            <span class="step">
              {{i+1}}
            </span>
            <p>
              {{ step.stepDescription }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="back">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="back">
          <button (click)="goBack()" class="btn">
            <i class="fa fa-arrow-left"></i> Zurück
          </button>
        </div>
      </div>
    </div>
  </div>
</section>



<div class="container-fluid">
  <hr class="featurette-divider">

  <footer>
    <p class="pull-right"><a href="#">Nach oben</a></p>
    <p>&copy; 2017 What to cook? &middot; Alle Rechte vorbehalten. &middot; <a href="#">Privat</a> &middot; <a href="#">Terms</a></p>
  </footer>
</div>
