<footer>
  <div class="footer-bottom">
    <div class="container">
      <hr class="featurette-divider">
      <p class="pull-left">© 2018 Manducare</p>
      <div class="pull-right">
        <ul class="nav nav-pills payments">
          <a class="footer__link" [routerLink]="['/impressum']">Impressum </a>
          <a class="footer__link" [routerLink]="['/contact']">Kontakt</a>
          <a class="footer__link" onclick="window.scrollTo(0, 0)">Nach oben</a>
        </ul>
      </div>
    </div>
  </div>
</footer>
