<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" [routerLink]="['/public']">{{title}}</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li *ngIf="(authService.user | async)"><a [routerLink]="['/admin']">Administration</a></li>
        <li><a href="#">Über uns</a></li>
        <li><a href="#">Hilfe</a></li>
      </ul>
      <form *ngIf="(authService.user | async)" class="navbar-form navbar-right">
        <input type="text" class="form-control" placeholder="Ihr Rezept finden...">
      </form>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">

    <div class="col-sm-3 col-md-2 sidebar">

      <div class="form-group welcome" *ngIf="authService.user | async">
        <h4>Willkommen {{ (authService.user | async)?.email }}!</h4>

        <button class="btn btn-default" type="button" icon="fa-sign-out" (click)="logout()" *ngIf="authService.user | async">
          <i class="fa fa-sign-out"></i> Abmelden
        </button>
      </div>

      <div *ngIf="!(authService.user | async)">
        <div class="form-group">
          <label for="inputEmail">E-Mail</label>
          <input type="text" class="form-control" id="inputEmail" [(ngModel)]="email" placeholder="E-Mail">
        </div>
        <div class="form-group">
          <label for="inputPassword">Passwort</label>
          <input type="password" class="form-control" id="inputPassword" [(ngModel)]="password" placeholder="Passwort">
        </div>
        <button type="button" class="btn btn-default" (click)="login()" [disabled]="!email || !password">
          <i class="fa fa-envelope-o"></i> Anmelden
        </button>
        <button type="button" class="btn btn-default" (click)="signup()" [disabled]="!email || !password">
          <i class="fa fa-key"></i> Registrieren
        </button>
      </div>

      <ul *ngIf="(authService.user | async)" class="nav nav-sidebar">
        <li [routerLinkActive]="['active']"><a [routerLink]="['/admin/recipes']"><i class="fa fa-list"></i> Ihre Rezepte <span class="sr-only">(Aktuell)</span></a></li>
        <li [routerLinkActive]="['active']"><a [routerLink]="['/admin/recipe-add']"><i class="fa fa-plus-circle"></i> Neues Rezept erfassen</a></li>
      </ul>
      <ul *ngIf="(authService.user | async)" class="nav nav-sidebar">
        <li [routerLinkActive]="['active']"><a [routerLink]="['/admin/basis-data-category']">Kategorie</a></li>
        <li [routerLinkActive]="['active']"><a [routerLink]="['/admin/basis-data-cuisine']">Länderküche</a></li>
        <li [routerLinkActive]="['active']"><a [routerLink]="['/admin/basis-data-difficulty']">Schwierigkeitsgrad</a></li>
      </ul>
      <ul *ngIf="(authService.user | async)" class="nav nav-sidebar">
        <li [routerLinkActive]="['active']"><a [routerLink]="['/admin/crisis-center']">Wartungsarbeiten</a></li>
      </ul>
    </div>

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

      <!-- TODO: Check the StyleSheet -->
      <router-outlet style="padding-top: 40px" *ngIf="authService.user | async"></router-outlet>
    </div>
  </div>
</div>

