<h2 class="page-header">Neue Menüart erfassen</h2>

<form (ngSubmit)="onSubmit()" #categoryForm="ngForm">
  <div class="form-group">
    <label for="name">Name:</label>
    <input name="name" type="text" id="name" class="form-control" placeholder="Name" required #categoryName />
    <div [hidden]="categoryName.valid || categoryName.pristine"
         class="alert alert-danger">
      Name is required!
    </div>
  </div>
  <button class="btn" [disabled]="!categoryForm.form.valid" (click)="add(categoryName.value); categoryName.value='';">
    <i class="fa add_circle_outline"></i> Speichern
  </button>
</form>

<div class="table-responsive">
  <table class="table table-striped table-hover">
    <thead>
    <tr>
      <th>
        Nr.
      </th>
      <th>
        Kategorie
      </th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let category of allCategories | async">
      <td>
        {{category.$key}}
      </td>
      <td>
        {{category.category}}
      </td>
      <td style="text-align: right">
        <button class="btn">
          <i class="fa fa-pencil"></i> Bearbeiten
        </button>
        <button class="btn" (click)="remove(category); $event.stopPropagation()">
          <i class="fa fa-trash-o"></i> Löschen
        </button>
      </td>
    </tr>
  </table>
</div>
