<h1 class="page-header">Rezept: {{(recipe | async).receipt}}</h1>

<div>
    <div class="form-group">
      <label for="name">Name:</label>
      {{(recipe | async).receipt}}
      <!--<input [(ngModel)]="recipe.receipt" name="name" id="name" class="form-control" placeholder="Rezept" />-->
    </div>
    <div class="form-group">
      <label for="description">Beschreibung:</label>
      {{(recipe | async).description}}
      <!--<input [(ngModel)]="recipe.description" name="description" id="description" class="form-control" placeholder="Beschreibung" />-->
    </div>
    <button (click)="goBack()" class="btn">
      <i class="fa fa-arrow-left"></i> Zurück
    </button>
</div>
