<app-alert></app-alert>

<h1 class="page-header">Ihre Rezepte</h1>

<app-recipe-search></app-recipe-search>

<div class="table-responsive">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>
          Nr.
        </th>
        <th>
          Rezept
        </th>
        <th>
          Beschreibung
        </th>
        <th>
          Kategorie
        </th>
        <th>
          Länderküche
        </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let recipe of allRecipes | async" (click)="detail(recipe)">
        <td>
          {{recipe.$key}}
        </td>
        <td>
          {{recipe.receipt}}
        </td>
        <td>
          {{recipe.description}}
        </td>
        <td>
          {{recipe.category}}
        </td>
        <td>
          {{recipe.cuisine}}
        </td>
        <td style="text-align: right">
          <button class="btn btn-default" (click)="detail(recipe)">
            <i class="fa fa-eye"></i> Detailansicht
          </button>
          <button class="btn btn-default" [routerLink]="['/admin/recipe-edit/' + recipe.$key]">
            <i class="fa fa-pencil"></i>
          </button>
          <button class="btn btn-default" (click)="remove(recipe); $event.stopPropagation()">
            <i class="fa fa-trash-o"></i>
          </button>
        </td>
      </tr>
  </table>
</div>
<app-pagination-limit></app-pagination-limit>
