<div class="navbar-wrapper">
  <div class="container">
    <app-nav></app-nav>
  </div>
</div>

<section class="contact">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="contact__heading">Kontakt</h1>
          <p>Haben Sie Fragen oder Anregungen? Nehmen Sie mit uns Kontakt auf, wir freuen uns.</p>
      </div>
      <div class="col-md-12">
        <a href="mailto:info@whattocook.ch"><i class="icon flaticon-email"></i>E-Mail senden</a>
      </div>
    </div>

  </div>
</section>

<app-footer></app-footer>
