<div class="navbar-wrapper">
  <div class="container">
    <app-nav></app-nav>
  </div>
</div>

<app-cover></app-cover>

<section class="favorites">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2 class="section-heading"><span>Rezepte</span> die jeder mag</h2>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12" *ngFor="let recipe of (allRecipes | async)?.slice(0,3)">
        <div class="favorite_item">
          <div class="bg-image-wrap">
            <div class="bg-image-top">
              <img src="{{recipe.image?.url}}" alt="{{recipe.receipt}}">
            </div>
            <div class="favorite_item_info">
              <div class="favorite_item_header">
                <div class="favorite_item_title">
                  <h3>{{recipe.receipt}}</h3>
                </div>
              </div>
              <div class="favorite_item_content">
                <p>{{recipe.description}}</p>
                <span class="icon flaticon-like">{{recipe.rating}}</span>
              </div>
            </div>
          </div>
          <div class="facorite_item_button favorite_item_button">
            <p><a class="btn btn-default" (click)="detail(recipe)" role="button">Zum Rezept</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="tip">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-7 col-xs-12">
        <h2 class="tip-heading">Auch schon probiert?</h2>
        <p>Zwetschgen-Tomatensuppe</p>
        <p><a class="btn btn-tip" href="#" role="button">Zum Rezept</a></p>
      </div>
      <div class="col-md-5 col-sm-5 col-xs-12">
        <img class="featurette-image img-responsive center-block" src="./assets/img/tomaten_suppe.jpg" alt="Generic placeholder image">
      </div>
    </div>
  </div>
</section>

<section class="categories">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2 class="section-heading">Was möchtest du <span>zubereiten</span>?</h2>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="category-card" (click)="listRecipeSpecificCategory('breakfast')">
          <div class="category-img-bg">
            <img class="card-img-top" src="./assets/img/breakfast.svg" alt="Frühstück">
          </div>
          <div class="card-body">
            <h4 class="card-title">Frühstück</h4>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="category-card" (click)="listRecipeSpecificCategory('starter')">
          <div class="category-img-bg">
            <img class="card-img-top" src="./assets/img/starter.svg" alt="Vorspeise">
          </div>
          <div class="card-body">
            <h4 class="card-title">Vorspeise</h4>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="category-card" (click)="listRecipeSpecificCategory('mainCourse')">
          <div class="category-img-bg">
            <img class="card-img-top" src="./assets/img/main-course.svg" alt="Hauptspeise">
          </div>
          <div class="card-body">
            <h4 class="card-title">Hauptgericht</h4>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="category-card" (click)="listRecipeSpecificCategory('snack')">
          <div class="category-img-bg">
            <img class="card-img-top" src="./assets/img/snack.svg" alt="Snack">
          </div>
          <div class="card-body">
            <h4 class="card-title">Snack</h4>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="category-card" (click)="listRecipeSpecificCategory('sideDish')">
          <div class="category-img-bg">
            <img class="card-img-top" src="./assets/img/side-dish.svg" alt="Beilage">
          </div>
          <div class="card-body">
            <h4 class="card-title">Beilage</h4>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="category-card" (click)="listRecipeSpecificCategory('dessert')">
          <div class="category-img-bg">
            <img class="card-img-top" src="./assets/img/dessert.svg" alt="Dessert">
          </div>
          <div class="card-body">
            <h4 class="card-title">Dessert</h4>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<app-footer></app-footer>
