<div class="search">
  <div class="right-inner-addon">
    <i class="fa fa-search"></i>
    <input type="search" class="form-control" (keydown)="searchRecipe($event)" placeholder="Suche Rezept...">
  </div>
</div>
<div class="resultDropDown">
  <div class="foundResult" *ngFor="let recipe of recipes" (click)="detail(recipe)">
    <p>
      <a (click)="detail(recipe)">
        {{
          recipe?.receipt
        }}
      </a>
    </p>
  </div>
  <div class="foundResult" *ngIf="recipes?.length < 1 && recipes?.length === 0">
    <p>
      Kein Rezept gefunden!
    </p>
  </div>
</div>
