<h1 class="page-header">Rezept erfassen</h1>

<form #recipeForm="ngForm">
  <div class="form-group">
    <label for="recipeName">Rezeptname:</label>
    <input name="recipeName" id="recipeName" class="form-control" placeholder="Feldsalat mit Balsamico-Vinaigrette" ngModel #recipeName="ngModel" required />
    <div [hidden]="recipeName.valid || recipeName.pristine" class="alert alert-danger">
      Rezeptname ist verlangt.
    </div>
  </div>

  <div class="form-group">
    <label for="recipeDescription">Beschreibung:</label>
    <textarea rows="2" name="recipeDescription" id="recipeDescription" class="form-control" placeholder="Feldsalat ist der beliebteste Wintersalat." ngModel #recipeDescription="ngModel" required></textarea>
    <div [hidden]="recipeDescription.valid || recipeDescription.pristine" class="alert alert-danger">
      Beschreibung ist verlangt.
    </div>
  </div>

  <div class="form-group">
    <label>Anzahl Personen:</label>
    <select name="portion" class="form-control" ngModel #recipePortion="ngModel">
      <option *ngFor="let portion of listPortions" [value]="portion.value">{{portion.display}}</option>
    </select>
  </div>

  <div class="form-group">
    <label for="recipePrepTime">Zubereitungszeit in Minuten:</label>
    <input type="number" name="recipePrepTime" id="recipePrepTime" class="form-control" placeholder="90" min="0" ngModel #recipePrepTime="ngModel" required />
    <div [hidden]="recipePrepTime.valid || recipePrepTime.pristine" class="alert alert-danger">
      Zubereitungszeit in Minuten ist verlangt.
    </div>
  </div>

  <div class="form-group">
    <label>Schwierigkeitsgrad:</label>
    <select name="level" class="form-control" ngModel #recipeLevel="ngModel">
      <option *ngFor="let level of listLevels" [value]="level.value">{{level.display}}</option>
    </select>
  </div>

  <div class="form-group">
    <label>Kategorie:</label>
    <select name="category" class="form-control" ngModel #recipeCategory="ngModel">
      <option *ngFor="let category of listCategories" [value]="category.value">{{category.display}}</option>
    </select>
  </div>

  <div class="form-group">
    <label>Länderküche:</label>
    <select name="cuisine" class="form-control" ngModel #recipeCuisine="ngModel">
      <option *ngFor="let cuisine of listCuisines" [value]="cuisine.value">{{cuisine.display}}</option>
    </select>
  </div>
</form>

<hr>

<h3>Einkaufsliste (Zutaten)</h3>

<form #ingredientForm="ngForm">
  <div class="form-group">
    <label for="recipeQuantity">Menge</label>
    <input type="number" placeholder="1" min="0" name="recipeQuantity" id="recipeQuantity" class="form-control" [(ngModel)]="ingredient.recipeQuantity" #recipeQuantity="ngModel" required>
    <div [hidden]="recipeQuantity.valid || recipeQuantity.pristine" class="alert alert-danger">
      Menge ist verlangt.
    </div>
  </div>
  <div class="form-group">
    <label>Einheit</label>
    <select name="unit" id="unit" class="form-control" #recipeUnit>
      <option *ngFor="let unit of listUnits" [value]="unit.value">{{unit.display}}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="recipeIngredient">Zutat</label>
    <input type="text" name="recipeIngredient" id="recipeIngredient" class="form-control" placeholder="Gelatine" [(ngModel)]="ingredient.recipeIngredient" #recipeIngredient="ngModel" required>
    <div [hidden]="recipeIngredient.valid || recipeIngredient.pristine" class="alert alert-danger">
      Zutat ist verlangt.
    </div>
  </div>
  <div class="form-group">
    <label></label>
    <button (click)="addIngredient(recipeQuantity.value, recipeUnit.value, recipeIngredient.value); this.ingredient.recipeQuantity=''; this.ingredient.recipeIngredient=''"
            [disabled]="!ingredientForm.form.valid" class="btn btn-default">
      <i class="fa fa-floppy-o"></i> Hinzufügen
    </button>
  </div>
</form>

<table class="table table-striped table-hover">
  <thead>
    <th>Menge</th>
    <th>Einheit</th>
    <th>Zutat</th>
    <th></th>
  </thead>
  <tbody>
    <tr *ngFor="let ingredient of ingredients; let i = index;">
      <td>
        <input type="number" [ngModel]="ingredient.quantity" min="0" name="quantity" class="form-control" #recipeQuantity>
      </td>
      <td>
        <select name="unit" form="unit" [(ngModel)]="ingredient.unit" class="form-control" #recipeUnit>
          <option *ngFor="let unit of listUnits" [value]="unit.value">{{unit.value}}</option>
        </select>
      </td>
      <td>
        <input type="text" name="ingredient" [ngModel]="ingredient.ingredient" class="form-control" #recipeIngredient>
      </td>
      <td style="text-align: right">
        <button (click)="removeIngredient(ingredient)" class="btn btn-default">
          <i class="fa fa-trash"></i>
        </button>
      </td>
    </tr>
  </tbody>
  <tbody *ngIf="ingredients.length === 0">
    Keine Einträge vorhanden.
  </tbody>
</table>

<hr>

<h3>Zubereitungsschritte</h3>

<form #stepForm="ngForm">
  <div class="form-group">
    <label for="stepDescription">Schrittbeschreibung</label>
    <input class="form-control" id="stepDescription" name="stepDescription" placeholder="..." required [(ngModel)]="step.stepDescription" #stepDescription="ngModel">
    <div [hidden]="stepDescription.valid || stepDescription.pristine" class="alert alert-danger">
      Beschreibung ist verlangt.
    </div>
  </div>
  <div class="form-group">
    <label></label>
    <button (click)="addStep(stepDescription.value); this.step.stepDescription=''" [disabled]="!stepForm.form.valid" class="btn btn-default">
      <i class="fa fa-floppy-o"></i> Hinzufügen
    </button>
  </div>
</form>

<hr>

<table class="table table-striped table-hover">
  <thead>
    <th>Schritt</th>
    <th>Beschreibung</th>
    <th></th>
  </thead>
  <tbody>
    <tr *ngFor="let step of steps; let i = index;">
      <td>
        Schritt: {{i+1}}
      </td>
      <td>
        {{ step.stepDescription }}
      </td>
      <td style="text-align: right;">
        <button (click)="removeStep(step)" class="btn btn-default">
          <i class="fa fa-trash"></i>
        </button>
      </td>
    </tr>
  </tbody>
  <tbody *ngIf="steps.length === 0">
    Keine Einträge vorhanden.
  </tbody>
</table>

<hr>

<h3>Bild hochladen</h3>

<div class="form-group">
  <label>Bild hochladen</label>
  <div *ngIf="currentUpload">
    <div class="progress">
      <div class="progress-bar progress-bar-animated" [ngStyle]="{ 'width': currentUpload?.progress + '%' }"></div>
    </div>
    Progress: {{currentUpload?.name}} | {{currentUpload?.progress}}% Complete
  </div>
  <label>
    <input type="file" (change)="detectFiles($event)" class="form-control">
  </label>
  <!--<button-->
  <!--[disabled]="!selectedFiles"-->
  <!--(click)="uploadSingle()" class="btn btn-default">-->
  <!--Upload Single-->
  <!--</button>-->
</div>

<app-alert #childAlert></app-alert>

<button class="btn btn-default" [disabled]="!recipeForm.form.valid" (click)="add(recipeName.value, recipeDescription.value, recipePortion.value, recipePrepTime.value, recipeLevel.value, recipeCategory.value, recipeCuisine.value, steps, ingredients); recipeName.value=''; recipeDescription.value=''; recipePortion.value=''; recipePrepTime.value=''; recipeLevel.value=''; recipeCategory.value=''; recipeCuisine.value='';">
  <i class="fa fa-floppy-o"></i> Speichern
</button>
<button [routerLink]="'/admin/recipes'" class="btn btn-default">
  <i class="fa fa-ban"></i> Abbrechen
</button>


