<div class="navbar-wrapper">
  <div class="container">
    <app-nav></app-nav>
  </div>
</div>

<section class="recipe-details">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="recipe-image">
          <img class="featurette-image img-responsive center-block" src="{{ (recipe)?.image?.url }}" alt="{{(recipe)?.receipt}}">
        </div>
      </div>
      <div class="col-md-6">
        <h1 class="recipe-details-heading">{{(recipe)?.receipt}}</h1>
        <p class="recipe-details-description">{{(recipe)?.description}}</p>
        <div class="row">
          <div class="col-md-12">
            <div class="meta-container">
              <ul class="meta-list">
                <li>
                  <i class="icon flaticon-preptime"></i>Zubereitungszeit:
                  <span class="meta-value">{{(recipe)?.prepTime}} min.</span>
                </li>
                <li>
                  <i class="icon flaticon-level"></i>Schwierigkeitsgrad:
                  <span class="meta-value">{{(recipe)?.level}}</span>
                </li>
                <li>
                  <i class="icon flaticon-cuisine"></i>Länderküche:
                  <span class="meta-value">{{(recipe)?.cuisine}}</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="like-group">
              <ul class="like-list">
                <li>
                  <span (click)="rateRecipe()" class="icon flaticon-like"></span>
                  {{(recipe)?.rating}}
                </li>
                <li *ngIf="currentUser">
                  <button type="button" class="btn btn-default" [disabled]="!this.showAddFavorite" href="#" (click)="addRecipeToFavorites(key, recipe.receipt)" role="button">Rezept speichern</button>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="preparation">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="preparation-heading">Zubereitung</h2>
      </div>
      <div class="col-md-6">
        <div class="preparation-ingredients">
          <h3 class="preparation-ingredients-heading">Zutaten für {{(recipe)?.portion}} Personen</h3>
            <table >
              <tr class="preparation-ingredients-item" *ngFor="let ingredient of (recipe)?.ingredients; let i = index;">
                <td class="preparation-ingredients-quantity">{{ ingredient.quantity }}</td>
                <td class="preparation-ingredients-unit">{{ ingredient.unit }}</td>
                <td class="preparation-ingredients-ingredient">{{ ingredient.ingredient }} </td>
              </tr>
            </table>
        </div>
      </div>
      <div class="col-md-6">
        <div class="preparation-steps">
          <div class="preparation-steps-step" *ngFor="let step of (recipe)?.steps; let i = index;">
            <span class="step">
              {{i+1}}
            </span>
            <p>
              {{ step.stepDescription }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="back">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="back">
          <button (click)="goBack()" class="btn">
            <i class="fa fa-arrow-left"></i> Zurück
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

<app-alert #childAlert></app-alert>

<app-footer></app-footer>
